@model Synel_staff.Domain.Entities.Employee

<h1>Edit</h1>

<form asp-action="Update" method="Post">

	<input asp-for="Id" type="number" hidden />

	<div class="mb-3">
		<input asp-for="PayrollNumber" type="type" class="form-control" placeholder="Payroll number" />
	</div>

	<div class="mb-3">
		<input asp-for="Forenames" type="type" class="form-control" placeholder="Forenames" />
	</div>

	<div class="mb-3">
		<input asp-for="Surname" type="type" class="form-control" placeholder="Surname" />
	</div>

	<div class="mb-3">
		<input asp-for="DateOfBirth" type="date" class="form-control" placeholder="DateOfBirth" />
	</div>

	<div class="mb-3">
		<input asp-for="Telephone" type="type" class="form-control" placeholder="Telephone" />
	</div>

	<div class="mb-3">
		<input asp-for="Mobile" type="type" class="form-control" placeholder="Mobile" />
	</div>

	<div class="mb-3">
		<input asp-for="Address" type="type" class="form-control" placeholder="Address" />
	</div>

	<div class="mb-3">
		<input asp-for="Address2" type="type" class="form-control" placeholder="Address2" />
	</div>

	<div class="mb-3">
		<input asp-for="Postcode" type="type" class="form-control" placeholder="Postcode" />
	</div>

	<div class="mb-3">
		<input asp-for="EMailHome" type="type" class="form-control" placeholder="EMailHome" />
	</div>

	<div class="mb-3">
		<input asp-for="StartDate" type="date" class="form-control" placeholder="StartDate" />
	</div>

	<div class="d-grid.gap-2">
		<button type="submit" class="btn btn-primary">Update</button>
		<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>

</form>
